@import "tailwindcss";

@font-face {
  font-family: cooperBt;
  src: url("../styles/cooper-bt-light-italic.otf");
}

.cooperBt {
  font-family: "cooperBt", serif;
}


/* .icon-wrapper:hover  */
.rainbow-icon:hover {
  animation: rainbow 2s linear infinite;
}

/* melhorar esse rainbow */

/* #bg-gif {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0),
      rgba(0, 0, 0, 0)
), url("/xcopy.gif");
} */

/* .xcopy-bg-gif {
  background-image: url("/gifs/xcopy.gif");
  filter: brightness(0.8);
}



.test-bg-gif {
  background-image: url("/gifs/Tumblr_l_59782954736624.gif");
  filter: brightness(0.8);
}

#navbar li {
display: inline;
}

@keyframes rainbow {
0% { color: red; }
16% { color: orange; }
33% { color: yellow; }
50% { color: green; }
66% { color: blue; }
83% { color: indigo; }
100% { color: violet; }
}

@utility color-github {
  color: #FFFFFF; 
}
@utility color-instagram {
  color: #FF0069; 
}
@utility color-spotify {
  color: #1ED760; 
}
@utility color-soundcloud {
  color: #FF5500; 
}
@utility color-youtube {
  color: #FF0000; 
}
@utility color-discord {
  color: #5865F2; 
}


 */


 body {
 }
